.delete-video {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.delete-video>div {
    flex: 0 0 30%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.delete-video video {
    margin-top: 12px;
    width: 95%;
    height: 600px;
    object-fit: cover;
}

.delete-video p {
    text-align: center;
    margin-top: 8px;
}

.delete-video button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: hsl(59, 87%, 50%);
    color: black;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 25px;
    transition: background-color 0.3s ease-in-out;
}

.delete-video button:hover {
    background-color: #f10909;
    color: white;
}

@media only screen and (max-width: 600px) {
    .delete-video{
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .delete-video>div {
        flex: 0 0 100%;
        margin-bottom: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .delete-video video {
        margin-top: 12px;
        width: 95%;
        height: 600px;
        object-fit: cover;
    }

    .delete-video p {
        text-align: center;
        margin-top: 8px;
    }

    .delete-video button {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: hsl(59, 87%, 50%);
        color: black;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 25px;
        transition: background-color 0.3s ease-in-out;
    }

    .delete-video button:hover {
        background-color: #f10909;
        color: white;
    }
}

@media only screen and (min-width: 600px) and (max-width:  1024px) {
    .delete-video {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .delete-video>div {
        flex: 0 0 50%; /* Alterado de 30% para 100% */
        margin-bottom: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .delete-video video {
        margin-top: 12px;
        width: 95%;
        height: 600px;
        object-fit: cover;
    }
    
    .delete-video p {
        text-align: center;
        margin-top: 8px;
    }
    
    .delete-video button {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: hsl(59, 87%, 50%);
        color: black;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 25px;
        transition: background-color 0.3s ease-in-out;
    }
    
    .delete-video button:hover {
        background-color: #f10909;
        color: white;
    }
}
