/* Estilo do carrossel */
.container {
  margin-right: 5%;
  margin-left: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.carousel-pasta {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-height: 2500px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* Estilo das pastas */
.pasta {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px; 
  width: 200px;
  height: 200px;
  background-color:#600b0ba7;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: rgba(255, 255, 255, 0.752);
  font-size: medium;
  font-weight: 900;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.carousel-fotos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); /* Miniaturas menores */
  grid-gap: 1px;
  margin-left: 5%;
  margin-right: 5%;
  overflow-x: scroll; /* Ativa o deslizamento horizontal */
  overflow-y: scroll; /* Ativa o deslizamento vertical */
  scroll-behavior: smooth;
}

/* Tornar a barra de rolagem vertical invisível */
.carousel-fotos::-webkit-scrollbar {
  width: 0px;  /* Remove a barra de rolagem vertical */
  background: transparent;  /* Torna a barra de rolagem transparente */
}

.carousel-fotos {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.carousel-fotos::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.item {
  padding: 2px;
  margin: 2px;
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.20);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
}

.card-foto {
  width: 100%;
  height: 150px; /* Ajuste a altura conforme necessário */
  object-fit: cover;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90vw;
  height: 90vh;
  background: rgba(0, 0, 0, 0.685);
  z-index: 1000;
}

.modal-foto {
  max-width: 90vw;
  max-height: 90vh;
}

.nav-button {
  display: none; /* Esconde os botões de navegação por padrão */
}

.close-button {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 15px;
  padding: 10px;
  background: #c5cdd5;
  color: rgb(20, 19, 19);
  border: none;
  cursor: pointer;
  font-weight: 900;
  font-size: medium;
}

.voltar-button {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px;
  padding: 10px;
  background: #c5cdd5;
  color: rgb(20, 19, 19);
  border: none;
  cursor: pointer;
  font-weight: 900;
  font-size: medium;
}

/* ##### VIDEOS #### */

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  border: 4px solid #4b0303; /* Adiciona borda aos vídeos */
  border-radius: 5px; /* Adiciona borda arredondada */
}

.play-pause-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px; /* Ajuste o tamanho conforme necessário */
  color: white;
  cursor: pointer;
  display: none; /* Esconde o ícone por padrão */
  z-index: 10;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-fullscreen {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.video-fullscreen .play-pause-icon {
  display: block; /* Mostra o ícone no modo fullscreen */
}

.video-fullscreen:hover .play-pause-icon {
  display: block; /* Mostra o ícone ao passar o mouse no modo fullscreen */
}

/* Media query para ecrãs menores que 600px */
@media (max-width: 600px) {
  .container {
    margin-right: 2%;
    margin-left: 2%;
  }

  .pasta {
    width: 150px;
    height: 150px;
    margin: 10px;
    padding: 10px;
  }

  .carousel-fotos {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }

  .item {
    padding: 1px;
    margin: 1px;
  }

  .card-foto {
    height: 100px;
  }

  .close-button, .voltar-button {
    padding: 8px;
    font-size: small;
  }
}

/* Media query para dispositivos pequenos (tablets em retrato e telefones grandes, a partir de 600px) */
@media (min-width: 600px) and (max-width: 768px) {
  .container {
    margin-right: 3%;
    margin-left: 3%;
  }

  .pasta {
    width: 180px;
    height: 180px;
    margin: 15px;
    padding: 15px;
  }

  .carousel-fotos {
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  }

  .item {
    padding: 1.5px;
    margin: 1.5px;
  }

  .card-foto {
    height: 120px;
  }

  .close-button, .voltar-button {
    padding: 9px;
    font-size: medium;
  }
}

/* Media query para dispositivos médios (tablets em paisagem, a partir de 768px) */
@media (min-width: 768px) and (max-width: 992px) {
  .container {
    margin-right: 4%;
    margin-left: 4%;
  }

  .pasta {
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 20px;
  }

  .carousel-fotos {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }

  .item {
    padding: 2px;
    margin: 2px;
  }

  .card-foto {
    height: 150px;
  }

  .close-button, .voltar-button {
    padding: 10px;
    font-size: medium;
  }
}

/* Media query para dispositivos grandes (laptops/desktops, a partir de 992px) */
@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    margin-right: 5%;
    margin-left: 5%;
  }

  .pasta {
    width: 220px;
    height: 220px;
    margin: 25px;
    padding: 25px;
  }

  .carousel-fotos {
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  }

  .item {
    padding: 2.5px;
    margin: 2.5px;
  }

  .card-foto {
    height: 170px;
  }

  .close-button, .voltar-button {
    padding: 11px;
    font-size: large;
  }
}

/* Media query para dispositivos extra grandes (laptops grandes e desktops, a partir de 1200px) */
@media (min-width: 1200px) {
  .carousel-fotos {
    overflow-x: hidden; /* Desativa o deslizamento horizontal */
  }

  .nav-button {
    display: flex; /* Mostra os botões de navegação */
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(238, 232, 232, 0.912);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    z-index: 1001;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .nav-button:hover {
    background: rgba(93, 114, 119, 0.8);
  }

  .nav-button.left {
    left: 20px;
  }

  .nav-button.right {
    right: 20px;
  }

  .nav-button svg {
    width: 24px;
    height: 24px;
  }
}
