/* Estilo do carrossel */
.container {
  margin-right: 5%;
  margin-left: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.carousel-foto {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  justify-content: space-around;
  max-height: 2500px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* Estilo dos itens do carrossel */
.item {
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo das imagens */
.card-foto {
  margin-top: 12px;
  width: 95%;
}

.container img {
  margin-top: 12px;
  width: 100%;
  height: 550px;
  margin-bottom: 15px;
  object-fit: cover;
}

/* Estilo do texto 'saber mais' */
.info a {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1em;
  background-color: #acbccd;
  /* Cor de fundo do botão */
  color: white;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 15px;
}

@media only screen and (max-width: 600px) {
  .container {
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

  }

  .carousel-foto {
    display: grid;
    grid-template-columns: 1fr;
    /* Alterado para apresentar apenas uma imagem por coluna */
    gap: 40px;
    justify-content: space-around;
    max-height: 750px;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  /* Estilo dos itens do carrossel */
  .item {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  /* Estilo das imagens */
  .card-foto {
    margin-top: 12px;
    width: 95%;
  }

  .container img {
    margin-top: 12px;
    width: 100%;
    height: 350px;
    margin-bottom: 15px;
    object-fit: cover;
  }

  .name {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  /* Estilo do texto 'saber mais' */
  .info a {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1.5em;
    background-color: #acbccd;
    /* Cor de fundo do botão */
    color: white;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 15px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .container {
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .carousel-foto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Alterado para apresentar duas imagens por coluna */
    gap: 40px;
    justify-content: space-around;
    max-height: 750px;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  /* Estilo dos itens do carrossel */
  .item {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  /* Estilo das imagens */
  .card-foto {
    margin-top: 12px;
    width: 95%;
  }

  .container img {
    margin-top: 12px;
    width: 100%;
    height: 350px;
    margin-bottom: 15px;
    object-fit: cover;
  }

  .name {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  /* Estilo do texto 'saber mais' */
  .info a {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1.5em;
    background-color: #acbccd;
    /* Cor de fundo do botão */
    color: white;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 15px;
  }

}