img {
    max-width: 75%;
    max-height: 75%;
    margin: auto;
  }

.descricao {
    font-size: larger;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
    line-height: 1.6;
    font-family: Times New Roman, Georgia, Garamond;
}
.voltar {
    /* background: rgb(7, 159, 159); */
    font-size: larger;
    margin-bottom: 25%;
    color: rgb(14, 209, 144);
    width: 10%;
    height: 10%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: bold;
    color: aliceblue;
    transition: margin-top 250ms;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    font-family: Times New Roman, Georgia, Garamond;
    margin-bottom: 5%;
    margin-top: 5%;
    width: 45px;
    height: 100px;
    
}

    .voltar .voltar-a-pagina{
        text-decoration: none;
    }

    .voltar .voltar-a-pagina:hover {
        color: #ecdfdf;
       
       
    }