/* Estilos para o container principal */
.home-container {
    display: -webkit-box; /* Fallback para navegadores antigos */
    display: -ms-flexbox; /* Fallback para navegadores antigos */
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    max-height: 1500vh;
    overflow: hidden; /* Evita que o conteúdo exceda a altura máxima */
}

/* Estilos para o título */
.home-title {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

/* Estilos para a imagem do logo */
.snImage {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

/* Estilos para o conteúdo */
.home-content {
    display: -webkit-box; /* Fallback para navegadores antigos */
    display: -ms-grid; /* Fallback para navegadores antigos */
    display: grid;
    -webkit-grid-template-columns: repeat(auto-fill, minmax(1000px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(1000px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1300px;
    max-height: 80vh;
    overflow-y: auto; /* Permite rolagem vertical se o conteúdo exceder a altura máxima */
}

/* Estilos para os componentes individuais */
.home-content > * {
    max-height: 1200px; /* Limita a altura de cada componente */
    overflow: hidden; /* Esconde o conteúdo excedente */
    max-width: 100%;
}
/* Media Queries para responsividade */
@media (max-width: 1200px) {
    .home-title {
        font-size: 1.8em;
    }
    .snImage {
        width: 120px;
    }
}

@media (max-width: 768px) {
    .home-title {
        font-size: 1.5em;
    }
    .snImage {
        width: 100px;
    }
    .home-content {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
}

@media (max-width: 480px) {
    .home-title {
        font-size: 1.2em;
    }
    .snImage {
        width: 80px;
    }
    .home-content {
        grid-template-columns: 1fr;
    }
}