/* Estilos gerais */
.calendarioContainer {
    background-color: rgb(214, 155, 155);
    width: 90%;
    margin: 0 auto;
    padding-bottom: 25px;
}

.calendarioTitulo {
    padding-top: 25px;
    font-size: 2rem; /* Usar rem para tamanhos relativos */
}

.calendarioData {
    font-size: 1.2rem; /* Usar rem para tamanhos relativos */
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.calendarioDiaData {
    margin-top: 50px;
    padding: 10px;
    color: rgb(4, 50, 7);
    margin: 0 auto;
}

/* Estilos da tabela */
table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    max-width: 1200px;
    background-color: red;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding-left: 10px;
    text-align: center;
    font-size: 1em; /* Usar em para tamanhos relativos */
}

th {
    background-color: #972d10;
    color: #fff;
    padding: 7px;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

td {
    background-color: #f0ebeb;
}

td ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

td ul li {
    color: #1d1c1c;
    position: relative; /* Adicionado para posicionamento absoluto do botão */
}

td p {
    margin-top: 10px;
    font-weight: bold;
    color: #0b0e11;
}

/* Estilos adicionais */
table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

.calendarioButton {
    background-color: #ff4d4d; /* Cor de fundo vermelha */
    color: white; /* Cor do texto branca */
    border: none; /* Sem borda */
    padding: 0.2rem 0.5rem; /* Espaçamento interno usando rem */
    border-radius: 0.5rem; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    font-size: 1rem; /* Tamanho da fonte usando rem */
    transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */
    position: absolute; /* Posicionamento absoluto */
    right: 1rem; /* Distância da borda direita usando rem */
    top: 50%; /* Centraliza verticalmente */
    transform: translateY(-50%); /* Ajusta para centralização */
    display: none; /* Esconde o botão por padrão */
}

.nomeContainer:hover .calendarioButton {
    display: block; /* Mostra o botão ao passar o mouse */
}

.calendarioButton:hover {
    background-color: #ff1a1a; /* Cor de fundo ao passar o mouse */
}

.inscricao-link {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #075812;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.inscricao-link:hover {
    background-color: #0056b3;
}

/* Media queries para diferentes tamanhos de ecrãs */
@media (max-width: 1200px) {
    .calendarioTitulo {
        font-size: 1.8rem;
    }

    .calendarioData {
        font-size: 1rem;
    }

    th, td {
        font-size: 0.9em;
    }

   .calendarioButton {
        font-size: 0.6rem; /* Ajusta o tamanho da fonte */
        padding: 0.2rem 0.5rem; /* Ajusta o espaçamento interno */
    }
}

@media (max-width: 768px) {
    .calendarioTitulo {
        font-size: 1.5rem;
    }

    .calendarioData {
        font-size: 0.9rem;
    }

    th, td {
        font-size: 0.8em;
    }

    .calendarioButton {
        font-size: 0.5rem; /* Ajusta o tamanho da fonte */
        padding: 0.2rem 0.5rem; /* Ajusta o espaçamento interno */
    }
}

@media (max-width: 480px) {
    .calendarioTitulo {
        font-size: 1.2rem;
    }

    .calendarioData {
        font-size: 0.8rem;
    }

    th, td {
        font-size: 0.7em;
    }

    .calendarioButton {
        font-size: 0.3rem; /* Ajusta o tamanho da fonte */
        padding: 0.1rem 0.2rem; /* Ajusta o espaçamento interno */
    }
}

@media (max-width: 768px) {
    .inscricao-link {
        font-size: 14px;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .inscricao-link {
        font-size: 12px;
        padding: 6px 12px;
    }
}
