.FotoForm {
  width: 80%;
  height: 100;
  margin: 0 auto;
  padding: 20px;
  margin-top: 75px;
  border: 5px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.FotoForm h1 {
  text-align: center;
  color: #333;
}

.FotoForm form {
  margin: 0 auto;  
  flex-direction: column;
}

.FotoForm label {
  margin-bottom: 5px;
  font-weight: bold;
}

.FotoForm input[type="text"],
.FotoForm input[type="file"] {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px;
}

textarea {
  width: 100%;
  height: 250px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: both;
  overflow: auto;
  font-size: 25px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button[type="submit"] {
  margin-top: 30px;
  padding: 10px 20px; /* Aumenta o espaço interno */
  font-size: 16px; /* Aumenta o tamanho da fonte */
  background-color: #4CAF50; /* Cor de fundo do botão */
  color: white; /* Cor do texto */
  border: none;
  border-radius: 5px; /* Bordas arredondadas */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  transition: background-color 0.3s; /* Suaviza a transição de cores */
  text-transform: uppercase;
  font-weight: 900;
}

button[type="submit"]:hover {
  background-color: #d6d91a; /* Cor de fundo quando o mouse passa por cima */
  color: black;
}


.FotoForm h3 {
  text-align: center;
  color: #287232;
}
