.container-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    justify-content: center;
    margin: auto;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, .35)0px 5px 15px;
    border-radius: 20px;
    align-items: baseline;
}

label {
    font-size: 20px;
    margin-bottom: 10px;
}

input {
    border: 1px solid #150;
    width: 100%;
    max-width: 350px;
    height: 45px;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    border-radius: 5px;    
}

input[type=button] {
    border: 1px solid #150;
    width: 100%;
    max-width: 350px;
    height: 45px;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 100;
    border-radius: 5px;
    text-align: center;
    background-color: #150;
    cursor: pointer;
    color: #fff;
    cursor: pointer;
}

.ToastContainer {
    /* Estilos padrão para o ToastContainer */
    position: fixed;
    bottom: 0;
    width: 80%;
    left: 10%; /* Centraliza o container */
}

@media only screen and (max-width: 600px) {
    .container-form {
        width: 100%;
        padding: 20px;
    }
    
    input, input[type=button] {
        width: 100%;
    }

    .ToastContainer {
        /* Estilos para telas menores ou iguais a 600px */
        bottom: 50%;
        width: 100%;
       
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px){
    .container-form {
        width: 100%;
        padding: 30px;
    }
    
    input, input[type=button] {
        width: 100%;
    }

    .ToastContainer {
        /* Estilos para telas entre 601px e 1024px */
        bottom: 0;
        width: 80%;
        left: 10%; /* Centraliza o container */
    }
}
